.DS_Store
.cache/

# Build outputs
/build/
/target/
/compile_commands.json
/.ninja_deps
/.ninja_log

# Native build byproducts
*.o
*.dSYM/

# Large local mesh assets
/assets/dragon/dragon_recon/*.ply
/assets/dragon/*.tar.gz

# Large local HDRI sources
/assets/hdri/*.exr
/assets/hdri/*.hdr
/assets/hdri/*.raw
